*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    display: flex;
}

.img{
    width: 500px;
    height: 500px;
}

.quote-card{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.image-owner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
