*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#button{
    font-size: 1.3rem;
    padding: 9px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px ;
}

#button:hover{
    background-color: #313552;
    color: white;
    box-shadow: 5px 5px 5px 2px #B8405E;
}

#button:focus{
    background-color: none;
}
